.chatWindow {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.scroller {
  height: 300px;
}

.date {
  margin-bottom: 10px;
  font-size: 18px;
}

@media (min-width: 1440px) {
  .chatWindow {
    height: 700px;
  }
  .scroller {
    height: 600px;
  }
}
