.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
}
.loginContainer {
  height: 420px;
  width: 420px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.registerContainer {
  height: 420px;
  width: 420px;
}
.authForm {
  padding-top: 42px;
}

@media (min-width: 1440px) {
  .authForm {
    margin-top: 100px;
  }
  .loginContainer {
    height: 500px;
    width: 500px;
  }
  .registerContainer {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 767px) {
  .loginContainer {
    height: 200px;
    width: 300px;
  }

  .registerContainer {
    height: 200px;
    width: 300px;
  }
  .authForm {
    margin-top: 20px;
  }
}
