.home {
  display: flex;
}

.friendsHeader {
  padding-top: 9vh;
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), transparent);
  margin-bottom: rem(120px);
}
.sideBarContainer {
  height: 100%;
  width: 100%;
}
