.homeContainer {
  padding-top: calc(7.5vh + 6px);
}
.mainContainer {
  display: flex;
  justify-content: space-between;
}
.friendsHeaderContainer {
  margin: 0 auto;
}

.sideBarContainer {
  /*height: 100%;
  width: 33.33%;*/
  width: 100%;
}
.chatContainer {
  height: 100%;
  width: 66.66%;
}
