.friendsCenter {
  color: #15aabf;
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.tabsList {
  &::before {
    display: none;
  }
}
.titleContainer {
  display: flex;
  align-items: center; /* Align items vertically centered */
  padding-right: 2vw;
}

.titleContainer .iconFriends {
  margin-right: 0.5rem; /* Add space between the icon and the text */
}

.titleContainer .text {
  display: flex;
  align-items: center; /* Align text vertically centered */
}

.tab {
  font-weight: 500;
  height: rem(38);
  background-color: transparent;
  position: relative;
  bottom: -1px;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-5)
    );
  }

  &[data-active] {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-7)
    );
    border-color: var(--mantine-color-gray-2);
    border-bottom-color: transparent;
  }
}

@media (min-width: 1300px) {
  .friendsCenter {
    padding-top: 1vh;
  }
}
